* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* Add styles here! */
:root {
  --primary: hsl(160deg, 100%, 30%);
  --sec-light: hsl(45deg, 100%, 50%);
  --sec-dark: hsl(45deg, 100%, 40%);
  /* Grays */
  --black: hsl(0deg, 0%, 0%);
  --very-dark: hsl(0deg, 0%, 10%);
  --dark: hsl(0deg, 0%, 30%);
  --medium: hsl(0deg, 0%, 40%);
  --light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
}

h1{
  padding-top: 48px;
}

strong {
  color:var(--primary);
}

header, main {
  padding: 0 16px;
}

header {
  border-bottom: 8px solid var(--medium);
}

main {
  border: 48px solid var(--light);
  border-left: 0;
  border-right: 0;
}

.indented-heading {
  background-color: var(--sec-light);
  border-bottom: 8px solid var(--sec-dark);
  margin: 8px 0 0 -16px;
  padding: 0 16px;
}

.intro-chunk {
  padding-bottom: 32px;
}
